@import (reference) '~assets/styles/shared';

.Tooltip {
  background-color: @color-primary-alternate;
  border: 1px solid #443b59;
  border-radius: @border-radius-default;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
  color: @color-secondary-text;
  font-size: @font-size-small;
  line-height: 0.9375rem;
  max-width: 13.7rem;
  padding: 1rem 1.5rem;
  pointer-events: auto;
  text-transform: none;
  white-space: initial;
  z-index: @mask-above;

  > h4 {
    font-weight: 500;
    margin-bottom: 0.75rem;
  }

  > p {
    margin: 0 0 0.75rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover {
    opacity: 1;
    visibility: visible;
  }
}

.TooltipHint {
  > svg {
    max-height: 1rem;
    max-width: 1rem;
  }
}

:global {
  .__react_component_tooltip {
    &.show {
      opacity: 1;
    }

    &.place-top {
      box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: -14px;

      &::after {
        border-top-color: @color-dark-gray;
        bottom: -10px;
      }

      &.type-light::after {
        border-left-width: 10px;
        border-right-width: 10px;
        border-top-width: 10px;
      }

      &::before {
        border: 11px solid transparent;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top-color: #443b59;
        bottom: -22px;
        content: '';
        display: block;
        height: 0;
        left: 50.5%;
        margin-left: -10px;
        position: absolute;
        top: unset;
        width: 0;
      }
    }

    &.place-bottom {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
      margin-top: -14px;

      &::after {
        border-bottom-color: @color-dark-gray;
        top: -10px;
      }

      &.type-light::after {
        border-bottom-width: 10px;
        border-left-width: 10px;
        border-right-width: 10px;
      }

      &::before {
        border: 11px solid transparent;
        border-bottom-color: #443b59;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        bottom: 100%;
        content: '';
        display: block;
        height: 0;
        left: 50.5%;
        margin-left: -10px;
        position: absolute;
        top: unset;
        width: 0;
      }
    }

    &.place-left {
      margin-left: -14px;
      margin-top: -5px;

      &::after {
        border-left-color: @color-dark-gray;
        right: -10px;
      }

      &.type-light::after {
        border-bottom-width: 10px;
        border-left-width: 10px;
        border-top-width: 10px;
      }

      &::before {
        border: 11px solid transparent;
        border-bottom: 11px solid transparent;
        border-left-color: #443b59;
        border-top: 11px solid transparent;
        bottom: unset;
        content: '';
        display: block;
        height: 0;
        left: unset;
        position: absolute;
        right: -22px;
        top: 50%;
        width: 0;
      }
    }

    &.place-right {
      margin-right: -14px;
      margin-top: -5px;

      &::after {
        border-right-color: @color-dark-gray;
        left: -10px;
      }

      &.type-light::after {
        border-bottom-width: 10px;
        border-right-width: 10px;
        border-top-width: 10px;
      }

      &::before {
        border: 11px solid transparent;
        border-bottom: 11px solid transparent;
        border-right-color: #443b59;
        border-top: 11px solid transparent;
        bottom: unset;
        content: '';
        display: block;
        height: 0;
        left: -22px;
        position: absolute;
        right: unset;
        top: 50%;
        width: 0;
      }
    }
  }
}
