@import (reference) '~assets/styles/shared';

.FilledOrder {
  background-color: transparent;
  grid-template-columns: repeat(7, 1fr);

  &:hover {
    background-color: rgba(41, 24, 57, 0.3);
  }

  > li {
    &:last-of-type {
      padding-right: 1rem;
    }
  }
}

.FilledOrder__container {
  background-color: @color-grayish-purple;
  cursor: pointer;

  &:nth-child(even) {
    background-color: @color-dark-grayish-purple;
  }
}

.FilledOrder__chevron {
  margin-left: 0.5625rem;
  margin-top: 0.3125rem;
}

.FilledOrder__view {
  &:extend(.button--mediumgray all);

  display: inline-block;
  font-size: 0.625rem;
  margin-right: -2rem;
  padding: 0.1875rem 0.75rem;

  &.disabled {
    &:extend(.button--mediumgray--disabled);
  }
}

ul.FilledOrder__table-header {
  background-color: @color-light-purple;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-end;
  padding: 0 1rem;

  > li {
    max-width: unset !important;
    text-align: right;

    &:first-child {
      text-align: right;
    }

    &:last-of-type {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      max-width: 16.25rem;
      padding-right: 1.2rem;
    }
  }
}

.FilledOrder__tradeBody {
  background-color: @color-grayish-purple;
  justify-content: flex-end;
}

.FilledOrder__trade {
  background-color: @color-grayish-purple !important;
  justify-content: flex-end;
  margin: 0 1rem;

  &:last-of-type {
    > li {
      border-bottom: 0;
    }
  }

  > li {
    align-items: center;
    background-color: @color-grayish-purple;
    border-bottom: 0.0625rem solid @color-extra-darkpurple;
    display: flex;
    font-size: 0.75rem !important;
    justify-content: flex-end;
    max-width: unset !important;
    padding: 1rem 0;
    text-align: right;

    &:nth-child(even) {
      background-color: @color-grayish-purple;
    }

    &:first-child {
      font-family: "Roboto Mono", monospace;
      text-align: right;
    }

    &:last-of-type {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      max-width: 16.25rem;
      padding-right: 2.2rem;
    }
  }
}

.FilledOrder__active {
  background-color: rgba(68, 59, 89, 0.5) !important;
}

@media @breakpoint-mobile {
  .FilledOrder {
    grid-template-columns: repeat(6, 1fr);
  }

  ul.FilledOrder__table-header {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    padding-right: 0;

    > li {
      &:first-child {
        flex-grow: 1;
        text-align: left;
      }

      &:nth-child(2) {
        text-align: center;
      }
    }
  }

  .FilledOrder__trade {
    margin-left: 0;

    > li {
      justify-content: flex-start;
      padding-left: 0;
      padding-right: 0;

      &:first-child {
        padding-left: 1rem;
        text-align: left;
      }

      &:nth-child(2) {
        text-align: center;
      }
    }
  }
}
