@import (reference) '~assets/styles/shared';

.MarketOpenOrdersList__table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.MarketOpenOrdersList__table-header {
  &:extend(.caps--small);

  background-color: @color-light-purple;
  color: @color-light-gray;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 12px;
  max-height: 40px;
  text-transform: none !important;
  transition: background-color 0.15s ease;

  &:first-child > li {
    border-top-width: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  > li {
    flex-grow: 1;
    min-width: 125px;
    overflow: hidden;
    padding: 11px 0;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      max-width: 160px;
      padding-left: 2rem;
      position: relative;
      text-align: left;
    }

    &:last-of-type {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 3rem;
    }
  }

  .NotActive {
    color: @color-lightgray;
  }
}

.MarketOpenOrdersList__footer {
  background-color: @color-light-purple;
  height: 8px;
}

.MarketOpenOrdersList__empty {
  background-color: @color-grayish-purple;
  height: 40px;
}

.MarketOpenOrdersList__table-body {
  background-color: @color-input-background;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: @font-size-large;
  line-height: @font-size-large;
}

.MarketOpenOrdersList__scrollContainer {
  max-height: 250px;
  overflow-y: auto;
}
