@import (reference) "~assets/styles/shared";

.LedgerConnect {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 2rem;

  @media @breakpoint-small-desktop {
    flex-flow: column;
  }
}

.LedgerConnect__action {
  align-items: center;
  flex: 3 1 auto;
  justify-content: center;
  width: 100%;

  @media @breakpoint-small-desktop {
    flex: 1 auto;
    margin-bottom: 2rem;
  }
}

.LedgerConnect__button {
  &:extend(.button--purple all);

  padding: 0 2rem;
}

.LedgerConnect__messages {
  .border(true, @border-top, @border-light);

  align-items: center;
  background-color: @color-gray;
  color: @color-white;
  display: flex;
  flex: 0.5 0 auto;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 1.5em 0;

  .Ledger__address__balances {
    display: block;
    justify-content: space-between;
  }

  .LedgerConnect__buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .Ledger__addresses {
    display: inline-block
  }

  .Ledger__balances {
    display: inline-block
  }

  @media @breakpoint-small-desktop {
    flex: 2 0 0%;
    min-width: 100%;
  }

  svg {
    align-self: center;
    height: 3em;
    margin-bottom: 1rem;
    width: 100%;
  }

  ul {
    list-style: disc;
    margin-top: 1em;
    padding-left: 1.2em;

    li {
      margin: 0.2em 0;
    }
  }
}

.LedgerConnect__messages--visible {
  visibility: visible;
}

@media @breakpoint-mobile-small {
  .LedgerConnect {
    flex-wrap: wrap;
  }

  .LedgerConnect__action {
    flex: auto;
    margin-bottom: 2rem;
  }

  .LedgerConnect__messages {
    flex: auto;
  }
}

.LedgerConnect__action ul {
  cursor: pointer;
  display: table-row;
  transition: background-color 0.15s ease;

  &:hover {
    background-color: @color-lightergray;
  }

  &:first-child > li {
    border-top-width: 0;
  }

  > li {
    display: table-cell;
    overflow: hidden;
    padding: 0.625rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.LedgerConnect__action input[type="radio"] {
  width: 1rem;
}

.LedgerConnect__action label {
  color: @color-text-dark;
  margin-bottom: 0;
  text-transform: none;
  font-size: @font-size-normal;
}

.LedgerConnect__subheader {
  > div {
    font-size: 13px;
    margin-bottom: 4px;
  }

  > ul {
    list-style-type: unset;
    margin-left: 16px;
  }
}
