@import (reference) '~assets/styles/shared';

ul.DataTableHeader {
  display: grid;
  flex-direction: row;
  flex-grow: 1;
  grid-template-columns: repeat(5, 1fr);
  padding: 0.75rem 2.5rem 0.75rem 0;

  > li {
    .text-12;

    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: 0.687rem;
    white-space: nowrap;

    color: @color-secondary-text;
    font-family: @roboto;
    padding: 0;

    &:first-child {
      font-weight: normal;
      padding-left: 0;
      margin: auto 0;
    }

    &:not(:first-child) {
      text-align: right;
      justify-content: flex-end;
    }
  }
}

ul.FilledOrdersHeader {
  grid-template-columns: repeat(7, 1fr);
  padding-bottom: 0.375rem;
  padding-top: 0.375rem;

  > li {
    &:last-child {
      padding-right: 0.625rem;
    }
  }
}

ul.PositionHeader {
  background: fade(@color-primary-alternate, 40%);
  padding-left: 1.5rem;
  padding-right: 4.325rem;
  grid-template-columns: repeat(8, 1fr);

  > li {
    color: @color-neutral !important;
    font-size: @size-11 !important;

    &:not(:first-child) {
      color: @color-neutral;
      font-size: @size-11;
    }
  }
}

@media @breakpoint-mobile {
  ul.DataTableHeader {
    grid-template-columns: repeat(4, 1fr);
    padding-left: 1.25rem;

    > li {
      &:first-child { 
        display: none;
      }

      &:nth-of-type(2) {
        justify-content: flex-start;
        padding-left: 6px;
      }
    }
  }

  ul.FilledOrdersHeader {
    grid-template-columns: repeat(5, 1fr);

    > li {
       &:nth-of-type(6) {
        display: none;
       }
    }
  }

  ul.PositionHeader {
    grid-template-columns: repeat(7, 1fr);
  }
}
