@import (reference) "~assets/styles/shared";

.MarketRow__container {
  border-bottom: 0.125rem solid @color-theme-primary;

  &:not(:last-of-type) {
    margin-bottom: 2px;
  }
}

.MarketRow__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1rem 1.75rem 1rem 1.5rem;
}

.MarketRow__contentShow {
  padding-top: 0.5rem;
  padding-bottom: 24px;
}

.MarketRow__row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.MarketRow__expanded {
  border-bottom: 0;
}

.MarketRow__Arrow {
  padding-top: 10px;
}

.MarketRow__firstRow {
  padding: 0 0 10px 0;
}

.MarketRow__description {
  .text-12-bold;

  color: @color-white;
  flex: 1;
  line-height: 1rem;
  margin-right: 1rem;
  align-items: center;
  display: flex;
}

.MarketRow__time {
  .text-12;

  color: @color-milky-gray;
  font-family: @roboto-mono;
  min-width: min-content;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MarketRow__timeShow {
  padding-bottom: 2px;
}

.MarketRow__rowContainer {
  display: flex;
  flex: 1;
}

.MarketRow__infoContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 0;
  margin: 0 28px;
  align-items: flex-end;
  border-top: 1px solid fade(@color-primary-background, 50%);
}

.MarketRow__info {
  max-width: 12rem;
}