@import (reference) "~assets/styles/shared";

.MarketRow__container {
  &:not(:last-of-type) {
    margin-bottom: 2px;
  }
}

.MarketRow {
  border-bottom: 0.125rem solid @color-theme-primary;
  padding: 1rem 1.75rem 0 1.5rem;
}

.MarketRow__expanded {
  border-bottom: 0;
}

.MarketRow__firstRow {
  padding: 0 0 10px 0;
}

.MarketRow__description {
  .text-12-bold;

  color: @color-white;
  flex: 1;
  line-height: 1rem;
  margin-right: 1rem;
}

.MarketRow__time {
  .text-12;

  color: @color-milky-gray;
  font-family: @roboto-mono;
  min-width: min-content;
  text-align: right;
}

.MarketRow__rowContainer {
  display: flex;
  flex: 1;
  padding: 0 0 1rem 0;

}

.MarketRow__infoContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 28px;
  align-items: flex-end;
  border-top: 1px solid fade(@color-primary-background, 50%);
}

.MarketRow__info {
  max-width: 12rem;
}