@import (reference) '~assets/styles/shared';

.Order {
  display: grid;
  flex-direction: row;
  flex-grow: 1;
  grid-template-columns: repeat(5, 1fr);

  > li {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-family: @roboto-mono;
    font-size: 0.687rem;
    white-space: nowrap;

    &:first-child {
      .text-12-bold;

      color: @color-less-neutral;
      display: block;
      font-family: @roboto;
      font-weight: 500;
      margin: auto 0;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:nth-of-type(2) {
      font-family: @roboto;
      position: relative;

      > span {
        left: 0;
        position: absolute;
      }
    }

    &:not(:first-child) {
      justify-content: flex-end;
    }
  }
}

.Order__type {
  color: @color-positive;
  font-weight: bold;
  text-transform: capitalize;
}

.Order__typeSell {
  color: @color-negative2;
}

.Order__group {
  padding: 0 1.75rem 0 1.5rem;
}

.Order__innerGroup {
  border-top: 0.0625rem solid @color-primary-background;
  padding: 0.5rem 0;
}

.Order__parentSingle {
  &:not(:first-of-type) {
    border-top: 0.0625rem solid @color-primary-background;
  }
}

.Order__single {
  padding: 0.5rem 1.75rem 0.5rem 1.5rem;
}

.Position,
.FilledOrder {
  > li {
    &:first-child {
      font-weight: bold;
    }
  }
}

.FilledOrder {
  grid-template-columns: repeat(7, 1fr);
}

.OpenOrder_infoContainer {
  background: fade(@color-primary-alternate, 10%);
  border-bottom: 2px solid @color-theme-primary;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.OpenOrder_innerInfoContainer {
  display: flex;
  flex: 1;
  padding: 0.5rem 1.625rem 0.5rem 2rem;
}

.OpenOrder_innerInfoContainerSingle {
  padding-left: 1.5rem;
}

.OpenOrder__info {
  > span {
    color: @color-white;
    display: flex;
    flex-direction: column;
    font-size: @size-11;
    font-weight: bold;
    margin-bottom: 0.625rem;
  }
}

.OpenOrder__labels {
  margin-bottom: 0;
  max-width: 12rem;

  > div:nth-of-type(3) {
    display: none;
  }
}

.OpenOrder__timestamp {
  align-items: flex-end;
  color: @color-alternate-text;
  display: flex;
  flex: 1;
  font-family: @roboto-mono;
  font-size: @size-11;
  justify-content: flex-end;
  text-align: right;
}

.Position {
  grid-template-columns: repeat(8, 1fr);

  > li {
    &:last-child {
      position: relative;

      > button {
        height: 1.25rem;
        left: 100%;
        margin-left: 0.375rem;
        position: absolute;
        width: 1.5rem;
      }
    }
  }
}

.Position_infoContainer {
  background: fade(@color-primary-alternate, 10%);
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5rem 4rem 0.5rem 0;
}

.Position__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 12rem;
}

.Position__border {
  border-top: 0.0625rem solid @color-primary-background;
}

.Position__innerSingle {
  padding: 0.5rem 0;
}

.Position__single {
  padding: 0 1.75rem 0 1.5rem;
}

.Position__arrow {
  margin-left: 1.25rem;
  padding-right: 0;
}

.Order__arrow {
  margin-left: 1.5rem;
  padding-right: 0;
}

@media @breakpoint-mobile {
  .Order {
    grid-template-columns: repeat(4, 1fr);

    > li {
      &:first-child {
        grid-column: 1 / span 6;
        margin-bottom: 6px;
      }

      &:nth-of-type(2) {
        justify-content: flex-start;
        text-align: left;
      }
    }
  }

  .Order__single {
    padding-left: 1rem;
    padding-right: 1.25rem;
  }

  .Order__group {
    padding-right: 1.25rem;
  }

  .FilledOrder {
    grid-template-columns: repeat(5, 1fr);
    position: relative;

    > li {
      &:first-child {
        grid-column: 1 / span 8;
      }

      &:nth-of-type(6) {
        .mono-9;

        color: @color-shadow-text;
        position: absolute;
        right: 0;
      }
    }
  }

  .Position {
    grid-template-columns: repeat(6, 1fr);

    > li {
      &:first-child {
        grid-column: 1 / span 8;
      }

      &:last-child {
        display: none;
      }
    }
  }

  .Position__innerSingle {
    padding: 0.75rem 0;
  }

  .Position__single {
    background: fade(@color-primary-alternate, 40%);
    padding: 0 1rem;
  }

  .Position_infoContainer {
    padding: 0 0 0.75rem;
  }

  .Position__info {
    max-width: unset;
  }

  .OpenOrder__labels {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: unset;

    > div:nth-of-type(3) {
      display: flex;
    }
  }

  .OpenOrder__timestamp {
    display: none;
  }

  .OpenOrder_innerInfoContainer {
    background-color: fade(@color-primary-alternate, 40%);
    padding: 0.5rem 1rem 0.5rem 1.5rem;
  }

  .OpenOrder_innerInfoContainerSingle {
    padding-left: 1rem;
  }

  .OpenOrder__info {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
