@import (reference) '~assets/styles/shared';

.Order {
  display: grid;
  flex-direction: row;
  flex-grow: 1;
  grid-template-columns: repeat(5, 1fr);

  > li {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: 0.687rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      .text-12-bold;

      color: @color-less-neutral;
    }

    &:not(:first-child) {
      justify-content: flex-end;
    }

    &:last-child {
      padding-right: 1.75rem;
    }
  }
}

.FilledOrder {
  grid-template-columns: repeat(6, 1fr);
}

.OpenOrder_infoContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 8px 26px 8px 10px;
  margin-top: 0.5rem;
  border-top: 1px solid fade(@color-primary-background, 50%);
}

.OpenOrder__info {
  max-width: 12rem;
}

.OpenOrder__timestamp {
  font-family: @roboto-mono;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 11px;
  text-align: right;
  color: #777777;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;

}