@import (reference) '~assets/styles/shared';

.ToggleRow {
  display: flex;
  flex-direction: column;
  background-color: @color-grayish-purple;
  
  &:hover {
    background-color: fade(@color-primary-alternate, 40%);
  }

  > div {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
}

.ToggleRow__arrowContainer {
  display: flex;
  align-items: center;
}

.ToggleRow__active {
  background-color: fade(@color-primary-alternate, 40%);
}

.ToggleRow__rowContent {
  display: flex;
  flex-grow: 1;
}

.ToggleRow__arrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.625rem;
}
