@import (reference) '~assets/styles/shared';

.OrphanedOrder {
  margin-bottom: 45px;
}

.Order {
  display: flex;
  margin-bottom: 3rem;
}

.Order__learnMore {
  background-color: @color-dark-gray;
  color: @color-white;
  font-family: @roboto;
  font-size: @font-size-small;
  left: 0;
  padding: 1rem 0.5rem;
  position: absolute;
  right: 0;
}

.Order__link {
  color: @color-white;
  font-size: @font-size-small;
  font-weight: 700;
  margin-left: 0.5rem;
  text-decoration: underline;
}

.Order__learnMore::after {
  border: solid transparent;
  border-bottom-color: @color-dark-gray;
  border-width: 0.4875rem;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 3.1%;
  margin-left: -@size-11;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.Order__learnMore-extended::after {
  left: 3.4%;
}
