@import (reference) '~assets/styles/shared';

.ConnectDropdown {
	padding-top: 8px;
}

.ConnectDropdown__item {
    padding: 14px 0px 14px 24px;
    font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: row;
	max-height: 48px;
	
	&:hover {
		background-color: #412468;
	}
}

.ConnectDropdown__icon {
    margin-right: 11px;
    width: 18px;
}