@import (reference) '~assets/styles/shared';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono'); // todo: import font the right way


.ConnectDropdown {
  padding-top: 8px;
}

.ConnectDropdown__item {
  align-items: center;
  color: @color-white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: normal;
  max-height: 48px;
  padding: 14px 0 14px 24px;
  position: relative;
  z-index: 1;

  &:hover {
    background-color: @color-purple;
  }

  &:focus {
    outline: none;
  }
}

.ConnectDropdown__itemSelected {
  background-color: @color-purple;
}

.ConnectDropdown__itemHardwareSelected {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
}

.ConnectDropdown__icon {
  display: flex;
  justify-content: center;
  margin-right: 11px;
  width: 18px;
}

.ConnectDropdown__hardwareContent {
  background-color: @color-darkpurple;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 0;
  position: relative;
  z-index: 0;
}

.ConnectDropdown__item-selected {
  background-color: @color-purple;
  box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.13);
}

.ConnectDropdown__content {
  padding: 16px 24px 12px;
}

.ConnectDropdown__advanced {
  border-bottom: 0.5px dotted @color-lightergray;
  color: @color-lightgray;
  font-size: 12px;
  margin-right: 14px;

  &:hover {
    border-bottom: 0.5px dotted white;
    color: white;
  }
}

.ConnectDropdown__title {
  display: flex;
  flex-grow: 1;
}

.ConnectDropdown__header {
  color: @color-white;
  font-family: @roboto !important;
  font-size: 13px;
  font-weight: bold;

  &:hover {
    background-color: unset !important;
    cursor: default;
  }
}

.ConnectDropdown__footer {
  margin-top: 16px;

  &:hover {
    background-color: unset !important;
    cursor: default;
  }
}

.ConnectDropdown__row {
  color: @color-white;
  cursor: pointer;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  padding: 7px 24px;

  &:hover {
    background-color: rgba(240, 239, 246, 0.05);
  }
}

.ConnectDropdown__addressColumn {
  display: flex;
}

.ConnectDropdown__balanceColumn {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.ConnectDropdown__advancedContent {
  height: 0;
}

.ConnectDropdown__contentNoPadding {
  padding: 0;
}

.DerivationPathEditor {
  padding: 16px 24px 8px;
}

.DerivationPathEditor__title {
  color: @color-white;
  font-size: 13px;
  font-weight: bold;
}

.DerivationPathEditor__row {
  display: flex;
  margin-top: 12px;
}

.DerivationPathEditor__address {
  margin-left: 16px;
}

.DerivationPathEditor__pathDetails {
  color: @color-white;
  font-family: @roboto;
  font-size: 13px;
  margin-left: 8px;
  text-transform: none;
}

.DerivationPathEditor__path {
  color: @color-white;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  text-transform: none;
}

.DerivationPathEditor__pathInputContainer {
  display: flex;
  flex-grow: 1;
}

.DerivationPathEditor__radioButtons {
  display: flex;
  flex-grow: 1;

  > li {
    display: flex;
    flex-grow: 1;
    text-transform: none;

    > button {
      color: @color-white;
      cursor: pointer;
      display: flex;
      flex-grow: 1;
      font-size: @font-size-large;
      line-height: @font-size-large;
      min-height: 1.7rem;
      padding-left: 36px;
      position: relative;
      text-align: left;

      &::before {
        background-color: white;
        border: 0;
        border-radius: 100%;
        content: "";
        height: 20px;
        left: 0;
        margin: auto;
        margin-top: 5px;
        top: 0;
        width: 20px;
      }

      &::after {
        background-color: @color-purple;
        height: 11.75px;
        left: 0.25rem;
        margin-top: 5px;
        top: 0.25rem;
        width: 11.75px;
      }
    }
  }
}

.DerivationPathEditor__radioButtonsInput {
  > li {
    > button {
      padding-left: 32px;
    }
  }
}

.DerivationPathEditor__pathInput {
  border: none;
  color: @color-darkpurple;
  font-weight: bold;
  height: 24px;
  max-height: 24px;
  padding: 3px 12px;
  text-transform: none;

  &::placeholder {
    color: @color-lightgray;
    font-weight: normal;
  }

  &:focus {
    border: none;
  }
}

.ErrorContainer__header {
  align-items: center;
  color: @color-white;
  display: flex;
  font-size: 12px;
  font-weight: bold;
}

.ErrorContainer__headerIcon {
  margin-right: 8px;
}

.ErrorContainer__subheader {
  color: @color-white;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.54;
  margin-top: 8px;
}

.ErrorContainer__link {
  text-decoration: underline;
  text-decoration-color: white;
}

.AddressPickerContent__direction {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: @roboto !important;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  text-transform: none;
}

.AddressPickerContent__arrow {
  align-items: center;
  display: flex;
  justify-content: center;
}

.AddressPickerContent__directionDisabled {
  cursor: default;
}
