@import (reference) '~assets/styles/shared';

.NotificationCard {
  align-items: center;
  background: @color-tertiary-background;
  border: 1px solid fade(@color-highlight, 50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4px;
  padding: 16px 24px 13px 12px;

  & > button:disabled {
    opacity: 0.5;
  }
}

.NotificationCard__content {
  margin: 0 1rem 0 0;
}

.NotificationCard__content__titleBar {
  align-items: center;
  display: flex;
  margin: 0 0 4px;
}

.NotificationCard__content__Importance {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 8px 0 0;

  > svg {
    height: 16px;
    width: 16px;

    > circle {
      opacity: 0.5;
      stroke: @color-outcome-four;
    }

    > rect {
      fill: @color-outcome-four;
    }

    > path {
      fill: @color-outcome-four;
    }
  }
}

.NotificationCard__content__title {
  .text-12-bold;

  color: @color-tertiary-text;
  margin: 0 9px 0 0;
  text-transform: capitalize;
}

.NotificationCard__content__title__new {
  color: @color-secondary-text;
}

.NotificationCard__content__message {
  .text-11;

  color: fade(@color-tertiary-text, 50%);
}

.NotificationCard__content__message__new {
  color: @color-secondary-text;
}

.NotificationCard button {
  min-height: 32px;
  text-transform: capitalize;
}

.NotificationCard__countdown {
  margin: 12px 0 0;

  > span {
    > span {
      width: max-content !important;
    }
  }
}

.NotificationCard__countdown__title {
  .text-10;
}

.NotificationCard__MarketName {
  font-weight: @weight-bold;
}
