@import (reference) '~assets/styles/shared';

.NotificationBox {
  background: @color-theme-primary;
  border: 1px solid @color-secondary-border;
  border-radius: 3px;
  color: @color-secondary-text;
  flex: 1;
  max-height: 50%;
  min-height: 50%;
  padding-bottom: 1.5rem;
}

.NotificationBox__header {
  .mono-10;

  align-items: center;
  display: flex;

  > :first-child {
    color: @color-highlight;
    margin: 0 4px 0 0;
  }
}

.NotificationBox__content {
  background: @color-secondary-background;
  border-bottom: 1px solid @color-secondary-background;
  flex: 1;
  height: calc(100% - 3.75rem);
  overflow-x: hidden;
  overflow-y: scroll;
}

.NotificationBox__emptyState {
  height: 100%;

  > div {
    margin: 0;

    @media @breakpoint-mobile {
      margin: 2rem;
    }
  }
}
