@import (reference) '~assets/styles/shared';

.ModuleTabs__tab {
  display: flex;

  > li {
    color: rgba(255, 255, 255, 0.4);

    &:hover {
      color: white;
    }

    > button {
      font-size: 1rem;
      padding: 1.125rem 3rem;
    }
  }
}

.ModuleTabs__activeTab {
  background-color: @color-light-purple;
  color: white !important;
}

.ModuleTabs {
  display: flex;
  flex: 1 auto;
  flex-flow: column nowrap;
}

.ModuleTabs__content {
  display: flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}