@import (reference) '~assets/styles/shared';

.ModuleTabs__tab {
  display: flex;

  > li {
    color: rgba(255, 255, 255, 0.4);

    &:hover {
      color: white;
    }

    > button {
      font-size: 1rem;
      padding: 1.125rem 3rem;
      white-space: nowrap;
    }
  }
}

.ModuleTabs__activeTab {
  background-color: @color-light-purple;
  border-bottom: 1px solid @color-very-dark-purple;
  color: white !important;
}

.ModuleTabs {
  display: flex;
  flex: 1 auto;
  flex-flow: column nowrap;
}

.ModuleTabs__content {
  display: flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}

.ModuleTabs__tabFillWidth {
  background-color: #1b1528;

  > li {
    align-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;

    > button {
      padding: 1.125rem 0;
    }
  }
}

.ModuleTabs__tabFill {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  left: 0;
  right: 0;
  z-index: 10;

  > li {
    > button {
      font-size: 14px;
    }
  }
}

.ModuleTabs__activeTabFill {
  background-color: transparent;
}

.ModuleTabs__activeSpanFill {
  border-bottom: 1px solid white;
}
