@import (reference) "~assets/styles/shared";

.MarketOutcomeChartsHighcharts {
  svg {
    :global {
      .highcharts-background {
        fill: @color-theme-primary;
      }

      .highcharts-axis-labels {
        color: @color-secondary-text;
        font-family: @roboto-mono;
        font-size: @size-smaller;
        stroke: @color-secondary-text;
      }

      .highcharts-yaxis-labels,
      .highcharts-label {
        fill: @color-secondary-text;
        font-family: @roboto-mono;
        font-size: @size-smaller;
        stroke: @color-secondary-text;
      }

      .highcharts-no-data {
        color: @color-secondary-text;
        font-size: @size-normal;
      }

      .highcharts-label-box {
        fill: @color-theme-primary;
        font-weight: bold;

        > text > tspan:last-child {
          font-size: @size-smaller;
        }
      }

      .highcharts-tick,
      .highcharts-axis-line {
        stroke: @color-secondary-text-muted;
      }

      .highcharts-xaxis-grid,
      g.highcharts-yaxis-grid path.highcharts-grid-line:nth-child(1),
      g.highcharts-yaxis path.highcharts-axis-line {
        display: none;
      }

      .highcharts-yaxis-grid {
        .dashline-long;

        .highcharts-grid-line {
          stroke: @color-secondary-text-muted;
        }
      }

      .highcharts-xaxis-category {
        display: none;
      }

      .highcharts-crosshair-label {
        background-color: @color-theme-primary;
        border: 1px solid @color-secondary-text;
        color: @color-secondary-text;
        font-size: @size-smallest;
      }

      .highcharts-crosshair {
        .dashline-long;
      }

      .eth-label {
        font-size: @size-tiny;
      }
    }
  }
}
.MarketOutcomeCharts__highcharts_display_none {
  display: none;
}
