@import (reference) '~assets/styles/shared';

.ConnectAccount {
	color: white;
	max-width: 184px;
	border-left: 0.0625rem solid @color-lightpurple;
	justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ConnectAccount__container {
	display: flex;
}

.ConnectAccount__status {
  font-size: 12px;
  font-weight: normal;
  color: #dbdae1;
  margin-bottom: 4px;
}

.ConnectAccount__status-indicator {
	background-color: #f0eff6;
	min-width: 8px;
  	min-height: 8px;
  	border-radius: 50%;
  	margin-right: 5px;
  	display: inline-block;
}

.ConnectAccount__title {
  font-size: 14px;
  font-weight: bold;
}

.ConnectAccount__arrow {
	justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 24px;
}