@import (reference) '~assets/styles/shared';

.Outcome {
  background-color: @color-grayish-purple;
  cursor: pointer;
  transition: background-color 0.15s ease;
  position: relative;

  &:nth-child(1) {
    &:hover {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-one, 5%);
    }

    &.active {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-one, 10%);
    }

    &::before {
      background-color: @color-outcome-one;
    }
  }

  &:nth-child(2) {
    &:hover {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-two, 5%);
    }

    &.active {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-two, 10%);
    }

    &::before {
      background-color: @color-outcome-two;
    }
  }

  &:nth-child(3) {
    &:hover {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-three, 5%);
    }

    &.active {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-three, 10%);
    }

    &::before {
      background-color: @color-outcome-three;
    }
  }

  &:nth-child(4) {
    &:hover {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-four, 5%);
    }

    &.active {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-four, 10%);
    }

    &::before {
      background-color: @color-outcome-four;
    }
  }

  &:nth-child(5) {
    &:hover {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-five, 5%);
    }

    &.active {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-five, 10%);
    }

    &::before {
      background-color: @color-outcome-five;
    }
  }

  &:nth-child(6) {
    &:hover {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-six, 5%);
    }

    &.active {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-six, 10%);
    }

    &::before {
      background-color: @color-outcome-six;
    }
  }

  &:nth-child(7) {
    &:hover {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-seven, 5%);
    }

    &.active {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-seven, 10%);
    }
    
    &::before {
      background-color: @color-outcome-seven;
    }
  }

  &:nth-child(8) {
    &:hover {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-eight, 5%);
    }

    &.active {
      box-shadow: inset 0 0 0 1000px fade(@color-outcome-eight, 10%);
    }

    &::before {
      background-color: @color-outcome-eight;
    }
  }

  &.active {
    &::before {
      width: 6px;
      left: 3px;
    }
  }

  &:nth-child(even) {
    background-color: @color-dark-grayish-purple;
  }

  &:first-child > li {
    border-top-width: 0;
  }

  &::before {
    bottom: 0;
    content: "";
    display: block;
    height: 39px;
    left: 1px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
  }

  > li {
    &:last-of-type {
      display: table-cell;
    }


    &:last-child {
      padding-right: 2.5rem;
    }
  }

  @media @breakpoint-mobile {
    &::before {
      height: 62px;
      width: 2px;
    }
  }
}

.Outcome__percent {
  color: @color-lightgray;
  margin-left: 0.5rem;
}
