@import (reference) '~assets/styles/shared';

.PortfolioView {
  display: flex;
  flex: 1;
  margin: 1.25rem;
  margin-bottom: 0;

  > div {
    flex: 1;
    flex-direction: column;
    margin: 1.25rem;

    > div {
      display: flex;
      flex: 2 1 auto;
      flex-direction: column;
      margin-bottom: 2.5rem;
      max-height: 65vh;
      min-height: 6.25rem;

      &:last-of-type {
        margin-bottom: 1.25rem;
      }
    }
  }
}

.Loading__container,
.NoMarkets__container {
  color: @color-lightgray;
  font-size: @font-size-large;
  font-weight: 500;
  line-height: @font-size-rather-large;
  padding: 2rem;
  text-align: center;
}

.NoMarkets__link {
  color: @color-lightgray;
  margin-left: 0.5rem;
  text-decoration-line: underline;
}
