@import (reference) "~assets/styles/shared";

.TradingForm__form-body {
  padding: 1rem;

  > li {
    color: @color-white;
    display: flex;
    flex-flow: column nowrap;
    font-size: @font-size-normal;
    width: 100%;

    &:first-child {
      background-color: @color-dark-grayish-purple;
    }

    &.yesOption {
      padding: 1rem 2rem;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:last-child {
      align-items: center;
      border: none;
      flex-direction: row;

      > label {
        padding: 0.25rem 2rem;
      }
    }

    &.TradingForm__error-message {
      color: @color-red;
      display: block;
      font-size: @font-size-medium;
      line-height: @font-size-medium;
      margin-bottom: 2rem;

      > p {
        display: inline-block;
        margin: 0;
        margin-bottom: 0.5rem;
      }

      > svg {
        margin: -0.1rem 0.2rem 0;
        max-height: 1rem;
        max-width: 1rem;
        vertical-align: top;
      }
    }

    > label {
      color: @color-light-gray;
      font-size: @font-size-small;
      font-weight: 500;
      margin-bottom: 0;
      padding-bottom: 0.25rem;
      width: 100%;

      &.smallLabel {
        font-size: @font-size-extra-small;
        padding-top: 0.5rem;
      }

      &:last-child {
        border: none;
      }
    }
  }
}

.TradingForm__input__container {
  align-items: center;
  background-color: @color-grayish-purple;
  border: 1px solid @color-dark-gray;
  display: flex;
  flex-direction: row;

  > input[type="number"] {
    background-color: @color-dark-grayish-purple;
    border-width: 1px;
    color: @color-white;
    width: 100%;

    &::placeholder {
      color: @color-lightgray;
      line-height: @font-size-rather-large;
    }

    &.error {
      border-color: @color-red;
    }
  }

  > span {
    background: @color-dark-gray;
    font-size: @font-size-small;
    min-width: 4.375rem;
    overflow: hidden;
    padding: 1rem;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;

    &.isScalar {
      max-width: 10rem;
    }
  }

  > label {
    color: @color-light-gray;
    font-size: @font-size-small;
  }
}

.TradingForm__form_container {
  border: 1px solid @color-white;
  opacity: 0.4;
}

.TradingForm__form-estimated-cost {
  border: solid @color-lightgray;
  border-width: 1px 0;
  display: flex;
  padding: 1.5rem 2rem;

  > li {
    align-items: stretch;
    display: flex;
    max-width: 15rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    > span {
      font-size: @font-size-large;
      line-height: @font-size-large;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:first-child {
        color: @color-darkpurple;
        font-weight: 500;
        margin: 0 1.5rem 0 0;
      }
    }
  }

  > li:nth-child(2) {
    display: block;
    margin-top: 0;
  }

  > li:nth-child(2) > span:nth-child(1) {
    padding-bottom: 1rem;
  }

  > li > span:first-child,
  > li > span:last-child {
    display: block;
    font-size: @font-size-large;
    font-weight: 700;
    line-height: @font-size-large;
  }
}

.TradingForm__form-body > li.TradingForm__button--review {
  justify-content: flex-end;

  > button {
    &:extend(.button--purple all);
  }
}

.TradingForm__form-body > li.TradingForm__button__yes_no--review {
  > label {
    justify-content: flex-start;
  }

  > button {
    &:extend(.button--purple all);
  }
}

.TradingForm__static-field {
  color: @color-text-dark;
  font-size: 1.125rem;
  line-height: 1.5rem;
  min-height: 3rem;
  padding: 0.75rem 1rem 0.75rem 0;
  text-align: left;
}

.TradingForm__type {
  display: flex;

  > button {
    background-color: @color-lightgray;
    color: @color-lightergray;
    font-weight: 500;
    padding: 0.4rem 0;
    width: 50%;

    &.active {
      background-color: @color-purple;
      color: @color-white;
    }

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
}

@media @breakpoint-mobile {
  .TradingForm__form-body > li {
    > label {
      color: @color-white;
    }

    > input[type="number"] {
      background-color: @color-lightergray;
    }
  }

  .TradingForm__form-estimated-cost {
    > li > span:first-child,
    > li > span:last-child {
      color: @color-white;
    }
  }

  .TradingForm__form-body > li.TradingForm__button--review,
  .TradingForm__form-body > li.TradingForm__button__yes_no--review {
    justify-content: flex-end;

    > label {
      display: none;
    }

    > button {
      border-radius: 0;
      bottom: 0;
      left: 0;
      padding-bottom: 1rem;
      padding-top: 1rem;
      position: fixed;
      width: 100%;
    }
  }

  .TradingForm__static-field {
    color: @color-white;
  }
}

.TradingForm__error-message p:not(:first-of-type) {
  margin-left: 1.65rem !important;
}

@media @breakpoint-mobile-extra-small {
  .TradingForm__form-estimated-cost {
    margin-bottom: 30px;
  }
}
