@import (reference) "~assets/styles/shared";

.FilterDropdowns__container {
  display: flex;
  flex-flow: row wrap;

  @media @breakpoint-mobile {
    flex-direction: column;
    margin-bottom: 0.75rem;
  }
}

.FilterDropdowns {
  > div {
    display: flex;
    flex-flow: row wrap;
  }

  @media @breakpoint-mobile {
    align-items: center;
    flex-flow: row wrap;
  }

  > div > button:first-child {
    &:extend(.caps--medium);

    color: @color-white;
  }

  > div > i {
    font-size: 1.5rem;
  }

  > div {
    margin-right: 1.5rem;
  }

  > div > div > button:first-child {
    &:extend(.caps--medium);

    color: @color-white;
    white-space: nowrap;
  }

  > div > div > svg {
    height: 18px;
    width: 17px;

    > path {
      stroke: @color-lightgray;
    }
  }

  > div > div {
    margin-right: 1.625rem;
  }

  @media @breakpoint-mobile {
    align-items: center;
    flex-flow: row wrap;
  }
}

.FilterDropdowns__hasOrders,
.FilterDropdowns__hidePastCutoff {
  align-items: center;
  color: @color-white;
  display: flex;
  flex-direction: row;
  padding-left: 0.5rem;

  > label {
    font-size: @font-size-medium;
    font-weight: 400;
  }
}

.FilterDropdowns__hasOrders {
  padding: 0 1.625rem 0 0;

  > label {
    font-size: @font-size-medium;
    font-weight: 400;
    margin-bottom: 0;
    padding: 0.4rem 0 0.4rem 2rem;
    white-space: nowrap;
  }

  @media @breakpoint-mobile {
    margin-bottom: 1rem;
    margin-right: 0;
    margin-top: 0.75rem;
    padding-left: 0;
    padding-top: 0;
  }
}

.FilterDropdowns__hidePastCutoff {
  margin-top: 0.8125rem;

  > label {
    margin-bottom: 0;
    padding: 0.4rem 0 0.4rem 0.25rem;
    white-space: nowrap;
  }

  @media @breakpoint-mobile {
    padding: 0 0 1rem;
  }
}
