@import (reference) "~assets/styles/shared";

.FilterDropdowns__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media @breakpoint-mobile-small {
    flex-direction: column;
  }
}

.FilterDropdowns {
  display: flex;
  flex-flow: row nowrap;

  > div {
    margin-right: 0.5rem;
  }
}

.FilterDropdowns__hasOrders {
  align-items: center;
  color: @color-white;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;

  > label {
    margin-bottom: 0;
    padding: 0.4rem 2rem;
    text-transform: capitalize;
    white-space: nowrap;
  }

  @media @breakpoint-mobile-small {
    padding-bottom: 0.8rem;
    padding-left: 0;
  }
}
