@import (reference) "~assets/styles/shared";

.MarketOutcomeChartsCandlestickHighchart {
  background-color: @color-light-purple;
}

.MarketOutcomeChartsCandlestickHighchart__openClose_axis {
  fill: #7cb5ec;
  stroke: #7cb5ec;
}

.MarketOutcomeChartsCandlestickHighchart__volume_axis {
  fill: #90ed7d;
  stroke: #90ed7d;
}
