@import (reference) "~assets/styles/shared";

.MarketOutcomeChartsCandlestickHighchart {
  background-color: @color-light-purple;
}

.MarketOutcomeChartsCandlestickHighchart__openClose_axis {
  fill: #ffffff;
  font-size: 12px;
  font-family: @roboto-mono;
}

.MarketOutcomeChartsCandlestickHighchart__volume_axis {
  color: #2a2a2b;
  background-color: #00F1C4;
}
