@import (reference) "~assets/styles/shared";

.MarketOutcomeChartsCandlestickHighcharts {
  display: flex;
}

:global {
  .highcharts-background {
    fill: @color-theme-primary;
  }

  .highcharts-axis-labels {
    color: @color-secondary-text;
    font-family: @roboto-mono;
    font-size: @size-smaller;
    font-weight: 400;
    stroke: @color-secondary-text;
  }

  .highcharts-yaxis-labels,
  .highcharts-label {
    fill: @color-secondary-text;
    font-family: @roboto-mono;
    font-size: @size-smaller;
    stroke: @color-secondary-text;
  }

  .highcharts-no-data {
    color: @color-secondary-text;
    font-size: @size-normal;
  }

  .highcharts-label-box {
    fill: @color-theme-primary;
    font-weight: bold;

    > text > tspan:last-child {
      font-size: @size-smaller;
      font-weight: 400;
    }
  }

  .highcharts-xaxis-grid {
    display: none;
  }

  .highcharts-yaxis-grid {
    .dashline-long;

    .highcharts-grid-line {
      stroke: @color-secondary-text-muted;
    }
  }

  .highcharts-xaxis-category {
    display: none;
  }

  .highcharts-crosshair-label {
    background-color: @color-theme-primary;
    border: 1px solid @color-secondary-text;
    color: @color-secondary-text;
    font-size: @size-smallest;
  }

  .highcharts-crosshair {
    .dashline-long;
  }

  .highcharts-plot-band {
    fill: @color-highlight-masked;
    z-index: -1;
  }

  .highcharts-point-down {
    stroke: @color-negative;
    fill: @color-negative;
    color: @color-negative;
  }

  .highcharts-point-up {
    stroke: @color-positive;
    fill: none;
    color: @color-positive;
  }

  .highcharts-column-series {
    > rect {
      fill: @color-highlight;
    }
  }
  .highcharts-root {
    .highcharts-crosshair:nth-of-type(2) {
      stroke-width: 0;
    }
  }
}

.MarketOutcomeChartsCandlestickHighchart {
  background-color: @color-light-purple;
}

.MarketOutcomeChartsCandlestickHighchart__volume_axis,
.MarketOutcomeChartsCandlestickHighchart__openClose_axis {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: @color-white;
  fill: #ffffff;
  font-family: @roboto-mono;
  font-size: 12px;
}

.MarketOutcomeChartsCandlestickHighchart__plotline_price_labels {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: @color-white;
  fill: #ffffff;
  font-family: @roboto-mono;
  font-size: 12px;
}

.MarketOutcomeChartsCandlestickHighchart__volume_axis {
  background-color: #211a32;
}

.MarketOutcomeChartsCandlestickHighchart__plot_band {
  opacity: 0.1;
}

.MarketOutcomeChartsCandlestickHighchart__volume_bar {
  border-radius: 2px;
  color: #665789;
}

.MarketOutcomeChartsCandlestickHighchart__timestamp_axis {
  border: 1px solid #ffffff;
  opacity: 0.1;
}
