@import (reference) '~assets/styles/shared';

.BoxHeader__header {
  border-bottom: 0.0625rem solid @color-secondary-background;
}

.BoxHeader__title {
  .text-16;

  flex-grow: 1;
  line-height: @size-18;
}

.BoxHeader__header--top-row {
  border-bottom: 0.0625rem solid @color-secondary-background;
  display: flex;
  flex-direction: row;
  padding: 1.25rem @size-24;
}

.BoxHeader__header--bottom-row {
  padding: @size-12 @size-24 0;
}
