@import (reference) '~assets/styles/shared';

ul.DataTableHeader {
  padding-bottom: 0.75rem;
  padding-right: 1.875rem;

  > li {
    .text-12;

    color: @color-secondary-text;
    padding: 0;

    &:first-child {
      padding-left: 0;
    }
  }
}
