@import (reference) '~assets/styles/shared';

.PortfolioBox {
	background: @color-light-purple;
	flex: 1;
	color: @color-white;
	border: 0.0625rem solid @color-dark-gray;
	border-radius: 0.1875rem;
	padding-bottom: 1.5rem;
}

.PortfolioBox__content {
	background: @color-secondary-background;
	flex: 1;
	min-height: 11.5rem;
}