@import (reference) '~assets/styles/shared';

.ToggleRow {
  background: @color-grayish-purple;
  border-bottom: 0.125rem solid @color-theme-primary;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.0625rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  > div {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
}

.ToggleRow__rowContent {
  display: flex;
  flex-grow: 1;
}

.ToggleRow__arrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.625rem;
}
