@import (reference) '~assets/styles/shared';

.FilterBox {
  background: @color-light-purple;
  border: 0.0625rem solid @color-dark-gray;
  border-radius: 0.1875rem;
  color: @color-white;
  flex: 1;
  max-height: 50%;
  min-height: 50%;
  padding-bottom: 1.5rem;

  @media @breakpoint-mobile {
    background: unset;
    border: 0;
  }
}

.FilterBox__content {
  background: @color-secondary-background;
  border-bottom: 1px solid @color-secondary-background;
  flex: 1;
  min-height: 11.5rem;
  overflow-y: auto;

  @media @breakpoint-mobile {
    max-height: calc(100vh - 150px);
    min-height: calc(100vh - 150px);
    padding: 0.25rem 0.5rem;
  }
}

.FilterBox__bottomRow {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.FilterBox__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}
