@import (reference) '~assets/styles/shared';

.MarketLiquidity__TableScroll {
  border: 1px solid @color-lightest-gray;
  max-height: 15.5rem;
  overflow-y: auto;

  > .MarketLiquidity__TableWrapper {
    margin-bottom: 0;
  }
}

.MarketLiquidity__container {
  background-color: @color-yellow-alert;
  padding: 0.25rem;
}

.MarketLiquidity__container-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.MarketLiquidity__heading {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 1.75rem;
  width: 100%;

  > h1 {
    &:extend(.caps--small all);

    flex: 1;
    margin: 0;
    text-align: left;
  }

  > span {
    transition: transform 0.3s ease;

    &.is-open {
      transform: rotate(-180deg);
    }

    > svg {
      stroke: @color-darkpurple;
      width: 1.5rem;
    }
  }
}

.MarketLiquidity__TableHeader {
  &:extend(.caps--small);

  color: @color-darkpurple;
  display: table-header-group;
  font-weight: 500;

  &:first-child > li {
    padding-top: 0;
  }

  > li {
    display: table-cell;
    padding: 2rem 0 0.625rem;
    text-align: left;
    width: 13.5%;

    &:first-child {
      padding-left: 2rem;
      width: 9%;
    }

    &:nth-child(2) {
      width: 40.5%;
    }

    &:last-child {
      text-align: center;
      width: 10%;
    }
  }
}

.MarketLiquidity__TableWrapper {
  display: table;
  margin-bottom: 2rem;
  width: 100%;
}

.MarketLiquidity__ExtendedContainer {
  background-color: @color-yellow-washed;
  padding: 1rem 2rem;

  > h1 {
    &:extend(.caps--large all);

    color: @color-darkpurple;
  }

  > .MarketLiquidity__TableWrapper:first-of-type {
    margin-bottom: 0;
  }
}

.MarketLiquidity__ExtendedContainer-outcomeSelectContainer {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1.5rem;
  width: 300px;

  > label {
    color: @color-darkpurple;
  }
}

.MarketLiquidity__costs {
  display: table-row-group;
}

.MarketLiquidity__ExtendedContainer-estGas {
  display: table-row;

  > li {
    display: table-cell;
    padding: 2rem 1rem 0.5rem 0;
    text-align: right;
  }

  > li:last-child {
    padding-right: 0;
    width: 17%;
  }
}

.MarketLiquidity__ExtendedContainer-totalCost {
  display: table-row;

  > li {
    display: table-cell;
    font-weight: 500;
    padding: 0.5rem 1rem 0;
    text-align: right;
  }

  > li:last-child {
    padding-right: 0;
    width: 17%;
  }
}

.MarketLiquidity__submit-container {
  display: flex;
  flex-flow: row-reverse nowrap;
}

.MarketLiquidity__submit {
  &:extend(.button--purple all);

  &.disabled {
    &:extend(.button--purple--disabled);

    pointer-events: none;
  }
}

.MarketLiquidity__clearAll {
  &:extend(.button--text-only all);

  margin-right: 2rem;

  &.disabled {
    &:extend(.button--text-only-disabled);

    pointer-events: none;
  }
}

.MarketLiquidity__warning-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;

  > div {
    flex: 1;
    margin-right: 2rem;
  }

  > button {
    &:extend(.button--purple all);

    &.disabled {
      &:extend(.button--purple--disabled);

      pointer-events: none;
    }
  }

  > button:first-of-type {
    margin-right: 3rem;
  }
}

@media @breakpoint-mobile {
  .MarketLiquidity__TableHeader {
    > li {
      display: table-cell;
      padding: 1rem 0 0.625rem;
      text-align: center;
      width: unset;

      &:first-child {
        padding-left: 0.75rem;
        text-align: center;
        width: unset;
      }

      &:nth-child(2) {
        width: unset;
      }

      &:last-child {
        padding-right: 0.5rem;
        text-align: center;
        width: unset;
      }
    }
  }

  .MarketLiquidity__warning-container {
    flex-flow: column nowrap;

    > div {
      flex: 1 100%;
      margin: 0;
    }

    > button {
      flex: 1 100%;
      margin-top: 1rem;
    }

    > button:first-of-type {
      margin-right: 0;
    }
  }
}

@media @breakpoint-mobile-medium {
  .MarketLiquidity__TableHeader {
    > li {
      display: table-cell;
      padding: 1rem 0 0.625rem;
      text-align: center;
      width: unset;

      &:first-child,
      &:nth-child(2),
      &:last-child {
        text-align: center;
        width: unset;
      }
    }
  }
}
