@import (reference) '~assets/styles/shared';

.CutoffFlag {
  > span > svg {
    > path {
      fill: @color-cuttoff-red;
    }
  }
}

.ReadMore {
  font-weight: bold;
  text-decoration: underline;
}
