@import (reference) '~assets/styles/shared';

.Button {
  .text-14-bold;

  border: @border-default;
  border-radius: @border-radius-default;
  cursor: @button-cursor;

  &:disabled {
    cursor: @button-cursor-disabled;
  }
}

.PrimaryButton {
  .Button;

  background: @color-primary-button-background;
  color: @color-primary-button-text;
  max-height: @button-height-default;
  padding: @size-12 @size-24;

  &:disabled {
    background: @color-primary-button-background-disabled;
  }

  &:hover:enabled {
    background: @color-primary-button-background-hover;
  }
}

.BuyOrderButton {
  .Button;

  background: @color-buy-order-button-background;
  border-color: @color-buy-order-button-border;
  color: @color-secondary-button-text;
  height: @button-height-orders;
  max-height: @button-height-orders;
  padding: @button-padding-orders;

  &:disabled {
    background: @color-buy-order-button-background-disabled;
    border-color: @color-buy-order-button-border-disabled;
    color: @color-secondary-button-text-disabled;
  }

  &:hover:enabled {
    background: @color-buy-order-button-background-hover;
  }
}

.SellOrderButton {
  .Button;

  background: @color-sell-order-button-background;
  border-color: @color-sell-order-button-border;
  color: @color-secondary-button-text;
  height: @button-height-orders;
  max-height: @button-height-orders;
  padding: @button-padding-orders;

  &:disabled {
    background: @color-sell-order-button-background-disabled;
    border-color: @color-sell-order-button-border-disabled;
    color: @color-secondary-button-text-disabled;
  }

  &:hover:enabled {
    background: @color-sell-order-button-background-hover;
  }
}

.FavoriteButton {
  .text-12;

  align-items: center;
  color: @color-secondary-button-text;
  cursor: @button-cursor;
  display: flex;
  flex-flow: row nowrap;

  > svg {
    height: 1.5rem;
    margin-right: 0.5rem;
    width: 1.5rem;
  }

  > svg > path {
    fill: @color-secondary-button-text;
    fill-opacity: 0.1;
    stroke: @color-secondary-button-text;
  }

  &:disabled {
    color: @color-secondary-button-text-disabled;
    cursor: @button-cursor-disabled;

    > svg > path {
      fill-opacity: 0.1;
      stroke: @color-secondary-button-text-disabled;
      stroke-opacity: 0.3;
    }
  }

  &:hover:enabled {
    > svg > path {
      fill: @color-primary-action;
      fill-opacity: 0.1;
      stroke: @color-primary-action;
    }
  }
}

.FavoriteButton_Favorite {
  .FavoriteButton;

  > svg > path {
    fill: @color-primary-action;
    fill-opacity: 1;
    stroke: @color-primary-action;
  }

  &:hover:enabled {
    > svg > path {
      fill: @color-primary-action;
      fill-opacity: 0.5;
      stroke: @color-primary-action;
    }
  }
}

.CompactButton {
  .Button;
  .mono-10;

  border: @border-default;
  border-color: @color-primary-light;
  border-radius: @border-radius-full-round;
  color: @color-alternate-text;
  height: 1.25rem;
  line-height: @size-10;
  padding: 3px 0.75rem;

  &:hover:enabled {
    background: @color-primary-light;
    color: @color-secondary-button-text;
  }
}

.CancelTextButton {
  .mono-10;

  align-items: center;
  color: @color-neutral;
  display: flex;
  flex-flow: row nowrap;
  line-height: @size-10;

  > svg {
    fill: none;
    height: 0.5rem;
    margin-right: 0.25rem;
    width: 0.5rem;

    > path {
      stroke: @color-neutral;
    }
  }

  &:hover {
    color: @color-secondary-button-text;

    > svg > path {
      stroke: @color-secondary-button-text;
    }
  }
}
