@import (reference) "~assets/styles/shared";

.Dropdown__rounded,
.Dropdown__square,
.Dropdown {
  box-sizing: border-box;
  color: @color-white;
  cursor: pointer;
  display: flex;
  position: relative;
  z-index: 1;

  &:last-child {
    margin-right: 0;
  }

  > svg {
    margin-top: 0.25rem;
    max-width: 0.5rem;
  }
}

.Dropdown__rounded {
  background: @color-dark-grayish-purple;
  border: 2px solid @color-dark-gray;
  border-radius: 1000px;
  font-size: @size-small;
  padding: 1rem 1.5rem;
}

.Dropdown__square {
  background: @color-light-purple;
  border: 1px solid @color-bright-gray-purple;
  border-radius: 3px;
  color: @color-white;
  font-size: @size-smallest;
  padding: 0.6rem 0.9rem;
}

.Dropdown__label {
  &:extend(.caps--medium);

  padding-right: 1rem;
  white-space: nowrap;
}

.Dropdown__list {
  background-color: @color-white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: @color-darkpurple;
  display: none;
  font-size: 12px;
  line-height: @font-size-normal;
  position: absolute;
  right: 0;
  top: 100%;

  &.active {
    display: block;
  }

  > div {
    padding: 0 1rem;
    transition: background-color 0.15s ease;

    &:hover,
    &.active {
      background-color: @color-lightergray;
    }

    > button {
      background-color: inherit;
      border-top: 1px solid rgba(102, 87, 137, 0.1);
      cursor: pointer;
      font-size: @font-size-medium;
      padding: 0.8rem 0.5rem;
      text-align: left;
      white-space: nowrap;
      width: 100%;
    }
  }
}

.Dropdown__listLeft {
  right: unset;
}

.Dropdown__select {
  color: @color-white;
  display: none;
  padding: 0.5rem 1rem 0.5rem 0;
}

@media @breakpoint-mobile-medium {
  .Dropdown__label,
  .Dropdown__list,
  .Dropdown__list.active {
    display: none;
  }

  .Dropdown__select {
    display: block;
    font-size: @font-size-medium;
  }
}

@media @breakpoint-mobile-extra-small {
  .Dropdown__select {
    font-size: 0.69rem;
  }
}
