@import (reference) '~assets/styles/shared';

.PropertyLabel {
  display: flex;
  flex-flow: column nowrap;

  > span:first-of-type {
    .text-12;

    align-items: center;
    color: @color-neutral;
    display: flex;
    flex-flow: row nowrap;
    line-height: @size-16;

    > label {
      display: inline-block;
      margin: 0 0 0 0.25rem;
      width: @size-12;

      > svg {
        fill: none;
        height: @size-18;
        width: @size-18;

        > circle {
          fill: @color-tertiary-one;
          stroke: @color-primary-alternate;
          stroke-width: 2;
        }

        > path {
          fill: @color-secondary-text;
        }
      }
    }
  }

  > span:last-of-type {
    .number-14-bold;

    color: @color-secondary-text;
    line-height: @size-16;
  }
}

.MarketTypeLabel {
  .number-10;

  background: @color-primary-light;
  border-radius: @border-radius-rounded;
  color: @color-secondary-text;
  height: @size-24;
  padding: 0.3125rem 0.5rem;
  text-transform: capitalize;
}

.MarketStatus {
  .text-12-bold;

  color: @color-secondary-text;
  line-height: @size-14;
  padding-bottom: 0.375rem;
  position: relative;

  &::after {
    border-radius: 0.125rem;
    bottom: 0;
    content: "";
    height: 0.125rem;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.MarketStatus_mini {
  .number-9;

  line-height: @size-12;
  padding-bottom: 0.125rem; // 2px
  position: relative;

  &::after {
    border-radius: 0.125rem;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.MarketStatus_alternate {
  font-family: @roboto-mono;
  max-width: fit-content;
}

.MarketStatus_open {
  &::after {
    background: @color-open;
  }
}

.MarketStatus_reporting {
  &::after {
    background: @color-in-reporting;
  }
}

.MarketStatus_resolved {
  &::after {
    background: @color-resolved;
  }
}

.PendingLabel {
  .number-10;

  align-items: center;
  background: @color-primary-light;
  border-radius: @border-radius-rounded;
  color: @color-secondary-text;
  display: flex;
  flex-flow: row nowrap;
  height: @size-16;
  line-height: @size-10;
  padding: 1px 0.375rem;

  > div {
    border-width: 1px;
    margin-left: 0.3125rem;
  }
}

.MovementLabel {
  align-items: center;
  color: @color-neutral;
  display: flex;
  justify-content: flex-end;
}

.MovementLabel_Text {
  &_small {
    .number-9;
  }

  &_normal {
    .number-10;
  }

  &_large {
    .number-12;
  }

  &_positive {
    color: @color-positive;
  }

  &_negative {
    color: @color-negative;
  }
}

.MovementLabel_Icon {
  margin: 0 0.5rem 0 0;

  > svg {
    fill: none;
    height: @size-9;
    width: @size-14;
  }

  &_small {
    transform: scale(0.8);
  }

  &_normal {
    transform: scale(0.9);
  }

  &_large {
    transform: scale(1);
  }

  &_positive {
    > svg > path:nth-child(1) {
      fill: @color-positive;
    }

    > svg > path:nth-child(2) {
      stroke: @color-positive;
    }
  }

  &_negative {
    > svg {
      transform: rotateX(180deg);
    }

    > svg > path:nth-child(1) {
      fill: @color-negative;
    }

    > svg > path:nth-child(2) {
      stroke: @color-negative;
    }
  }
}
