@import (reference) '~assets/styles/shared';

.SearchSort {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;

  @media @breakpoint-mobile {
    flex-direction: column;
  }
}
