@import (reference) "~assets/styles/shared";
@import (reference) "~modules/market/components/market-view/market-view.styles";

.CoreProperties {
  display: flex;
  flex: 1 0 20%;
  flex-flow: row wrap;
  justify-content: space-between;

  > div {
    flex: 0 0 50%;
    margin-top: 1.25rem;
  }

  > div:first-of-type,
  > div:nth-of-type(2) {
    margin-top: 0;
  }
}

div.CoreProperties_minMax {
  align-items: flex-end;
  display: flex;
  flex: 0 0 33%;
  margin-right: auto;

  > svg {
    display: flex;
    margin: 0 0.25rem 0.5rem;
  }
}

div.CoreProperties_minMax__long {
  align-items: flex-end;
  display: flex;
  flex: 0 0 33%;
  margin-right: auto;

  > svg {
    display: flex;
    margin: 0 0.25rem 0.5rem -0.45rem;
  }
}

@media @breakpoint-mobile {
  .CoreProperties {
    background: @color-secondary-action;
    padding: 1rem;

    > div:nth-of-type(even) {
      align-items: flex-end;
    }
  }

  div.CoreProperties_minMax {
    margin-left: auto;
    margin-right: 0;
  }

  div.CoreProperties_minMax__long {
    margin-left: auto;
    margin-right: 0;
  }
}
