@import (reference) '~assets/styles/shared';

.ReportSection {
  margin-bottom: 3.75rem;
}

.ReportSection__heading {
  &:extend(.caps--large);

  color: @color-white;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.LineSeparator {
  border-bottom: 1px rgba(151, 151, 151, 0.31) solid;
<<<<<<< HEAD
  margin: 2em 2em;
=======
  margin-right: 2em;
>>>>>>> master
}


@media @breakpoint-mobile {
  .ReportSection__heading {
    padding-left: 1rem;
    padding-right: 1rem;
  }
<<<<<<< HEAD
=======

  .NoMarketsFound {
    margin-right: 1rem;
  }
>>>>>>> master
}
