@import (reference) "~assets/styles/shared";
@import (reference) "~modules/market/components/market-view/market-view.styles";

.MarketHeaderBar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.MarketHeaderBar__tag__container {
  display: flex;
  flex-direction: row;
}

.MarketHeaderBar__status {
  color: @color-white;
  font-size: @font-size-small;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1rem;
}

.MarketHeaderBar__tags {
  border: 2px solid #2b2438;
  box-sizing: border-box;
  border-radius: 100px;
  color: @color-white;
  font-style: normal;
  font-weight: 500;
  font-size: @font-size-small;
  line-height: normal;
  padding: 0.25rem 1rem;
  margin-right: 0.5rem;
}

.MarketHeaderBar__underline__open {
  border-bottom: 2px solid #7dffa8;
  border-radius: 100px;
  margin-bottom: 0.25rem;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.MarketHeaderBar__watchlist {
  border: 2px solid #2b2438;
  box-sizing: border-box;
  border-radius: 3px;
  color: @color-white;
  padding: 0.5rem 0;

  svg {
    margin: -0.1rem 0.5rem;
    max-height: 1.5rem;
    max-width: 1.5rem;
    vertical-align: top;
  }

  span {
    font-size: @font-size-small;
    padding-right: 1rem;
  }
}

