@import (reference) "~assets/styles/shared";
@import (reference) "~modules/market/components/market-view/market-view.styles";

.MarketHeaderReporting__container {
  background: @color-grayish-purple;
  border-radius: 3px;
}

.MarketHeaderReporting__break {
  background: @color-grayish-purple;
  height: 0.125rem;
}

.MarketHeaderReporting__button {
  &:extend(.button--bright all);

  margin-left: 1rem;
}

.MarketHeaderReporting__buttonNoMargin {
  &:extend(.button--bright all);

  margin-left: 14px;
}

.MarketHeaderReporting__title {
  color: @color-light-gray;
  font-size: @font-size-small;
  font-weight: 400;
  line-height: @font-size-small;
  margin-bottom: 0.5em;
}

.MarketHeaderReporting__consensus {
  font-weight: 700;
}

.MarketHeaderReporting__winner__container {
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.MarketHeaderReporting__winner__container__set {
  min-width: 250px;
}

.MarketHeaderReporting__single__container__disabled {
  padding: 0.75rem 0.75rem 0.75rem 0.25rem;
}

.MarketHeaderReporting__single__container {
  background: #211a32;
  padding: 1.5rem 1.25rem 1.5rem 0.25rem;
}

.MarketHeaderReporting__winner__row {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.MarketHeaderReporting__winner {
  color: @color-white;
  font-size: @font-size-rather-large;
  font-weight: 700;
  position: relative;
}

.MarketHeaderReporting__buttonContainer {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.MarketHeader__winning {
  color: @color-negative2;
  font-size: @font-size-medium;
  font-weight: bold;
}

.MarketHeader__tentative {
  color: @color-milky-gray;
  font-size: @font-size-medium;
  font-weight: bold;
}

.MarketHeader__reporting {
  color: @color-white;
  font-size: @font-size-medium;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.MarketHeaderReporting__reporting__row {
  color: @color-white;
  font-size: @font-size-medium;
}

.MarketHeaderReporting__info {
  display: flex;
  flex-direction: column;
}

@media @breakpoint-mobile {
  .MarketHeaderReporting__container {
    flex-grow: 1;
    position: relative;
  }

  .MarketHeaderReporting__buttonNoMargin {
    display: flex;
    justify-content: center;
  }

  .MarketHeaderReporting__button {
    flex-grow: 1;
    margin-left: 0;
    margin-top: 18px;
  }

  .MarketHeaderReporting__winner__container {
    align-items: center;
  }

  .MarketHeaderReporting__outcomeContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .MarketHeaderReporting__winner {
    padding-left: 0;

    &:first-child::before {
      content: unset;
    }
  }

  .MarketHeaderReporting__winner__row {
    margin-top: 4px;
  }
}
