@import (reference) "~assets/styles/shared";

.MarketView {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.MarketView__body {
  color: white;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 41px;
  margin-top: 0;
}

.MarketView__firstColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.MarketView__secondColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 20px;
  max-width: 325px;
}

.MarketView__component {
  background-color: #1b1528;
  flex-grow: 1;
  padding: 10px;
}

.MarketView__firstRow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.MarketView__secondRow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-top: 12px;
}

.MarketView__innerFirstColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 20px;
  max-width: 325px;
  min-height: 677px;
}

.MarketView__innerSecondColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Market__upper {
  .view();

  min-height: unset;
}

.Market__graphs {
  height: 400px;
}

.Market__details {
  background-color: @color-white;
  display: flex;
  justify-content: space-between;
}

.Market__details-outcomes {
  width: calc(100% - 25rem);
}

.Market__details-trading {
  width: 25rem;
}

@media @breakpoint-mobile {
  .Market__upper {
    padding: 0 1rem;
  }

  .Market__details {
    background-color: transparent;
    display: block;
    padding-bottom: 3rem;
  }

  .Market__details-outcomes {
    width: 100%;
  }

  .Market__details-trading {
    width: auto;
  }
}
