@import (reference) '~assets/styles/shared';

.AccountHeader {
  color: @color-secondary-text;
  margin: 3rem 2.5rem 1.5rem;
}

.AccountHeader__header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.AccountHeader__title {
  .text-30-bold;

  color: @color-secondary-text;
  margin-bottom: 0;
  text-transform: capitalize;
}
