@import (reference) '~assets/styles/shared';

.Outcome,
.Order,
.Position {
  background-color: @color-grayish-purple;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  max-height: 40px;
  transition: background-color 0.15s ease;

  &:nth-child(even) {
    background-color: @color-dark-grayish-purple;
  }

  &:first-child > li {
    border-top-width: 0;
  }

  > li {
    flex-grow: 1;
    min-width: 125px;
    overflow: hidden;
    padding: 11px 0;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      font-family: @roboto;
      font-size: 14px;
      max-width: 160px;
      padding-left: 2rem;
      position: relative;
      text-align: left;

      > .Order__pending {
        justify-content: flex-start;
      }
    }

    &:last-of-type {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 4.5rem;

      > button {
        font-weight: 500;
      }
    }
  }

  .NotActive {
    color: @color-lightgray;
  }
}

.Order__typeIndicator,
.Position__typeIndicator {
  background-color: @color-positive;
  bottom: 1px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1px;
}

.Order__type,
.Position__type {
  color: @color-positive;
}

.Order__typeSell,
.Position__typeSell {
  color: @color-negative2;
}

.Order__typeIndicatorSell,
.Position__typeIndicatorSell {
  background-color: @color-negative2;
}

.Order__not_extended,
.Position-not_extended {
  > li {
    &:first-child {
      padding-left: 0.5rem;
    }
  }
}

@media @breakpoint-mobile {
  .Outcome,
  .Order,
  .Position {
    position: relative;
    max-height: 64px;

    > li {
      padding: 34px 0 16px 0;

      &:first-child {
        position: absolute;
        top: 12px;
        padding: 0;
        bottom: 0;
        left: 2rem;
        font-weight: 500;
      }

      &:nth-child(2) {
        max-width: 160px;
        padding-left: 2rem;
        position: relative;
        text-align: left;
      }
    }
  }
}

.Position__closeButton {
  .button--transparent();

  display: inline-block;
  margin-right: -28px; // center button
}

