@import (reference) '~assets/styles/shared';

.Order,
.Position {
  background-color: @color-grayish-purple;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  max-height: 40px;
  transition: background-color 0.15s ease;

  &:nth-child(even) {
    background-color: @color-dark-grayish-purple;
  }

  &:first-child > li {
    border-top-width: 0;
  }

  > li {
    flex-grow: 1;
    min-width: 125px;
    overflow: hidden;
    padding: 11px 0;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      font-family: @roboto;
      font-size: 14px;
      max-width: 160px;
      padding-left: 2rem;
      position: relative;
      text-align: left;

      > .Order__pending {
        justify-content: flex-start;
      }
    }

    &:last-of-type {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 4.5rem;

      > button {
        font-weight: 500;
      }
    }
  }

  .NotActive {
    color: @color-lightgray;
  }
}

.Order__typeIndicator,
.Position__typeIndicator {
  background-color: @color-positive;
  bottom: 1px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1px;
}

.Order__type,
.Position__type {
  color: @color-positive;
}

.Order__typeSell,
.Position__typeSell {
  color: @color-negative2;
}

.Order__typeIndicatorSell,
.Position__typeIndicatorSell {
  background-color: @color-negative2;
}

.Order__not_extended,
.Position-not_extended {
  > li {
    &:first-child {
      padding-left: 0.5rem;
    }
  }
}

.PortMobile {
  display: table-row;
  transition: background-color 0.15s ease;

  &:first-child > li {
    border-top-width: 0;
  }

  > li {
    border-top: 1px solid @color-lightest-gray;
    display: table-cell;
    max-width: 19vw;
    overflow: hidden;
    padding: 1.125rem 0;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      padding-left: 2rem;
      position: relative;
      text-align: left;

      > .Position__pending {
        justify-content: flex-start;
      }
    }

    &:last-of-type {
      padding-right: 1rem;

      > button {
        font-weight: 500;
      }
    }
  }
}

@media @breakpoint-mobile {
  .Order,
  .Position {
    &.active,
    &:hover {
      background-color: @color-darkpurple;
    }

    > li {
      border-top-color: @color-darkpurple;
      color: @color-darkpurple;

      &:first-child {
        padding-left: 1rem;
      }

      &:last-of-type {
        padding-right: 1rem;
      }

      &:not(:first-child) {
        color: @color-white;
      }
    }
  }

  .PortMobile {
    > li {
      border-top-color: @color-lightergray;
      color: inherit;

      &:first-child {
        padding-left: 0.5rem;
      }

      &:last-of-type {
        padding-right: 0.5rem;
      }
    }

    .NotActive {
      color: @color-lightgray;
    }
  }
}

@media @breakpoint-mobile-medium {
  .Order,
  .Position {
    &:first-child > li {
      border-top-width: 1px;
    }

    > li {
      font-size: @font-size-medium;
      line-height: @font-size-medium;
      max-width: 25vw;
    }
  }

  .PortMobile {
    &:first-child > li {
      border-bottom-width: 1px;
    }

    > li {
      font-size: @font-size-medium;
      line-height: @font-size-medium;
      max-width: 25vw;
    }

    .NotActive {
      color: @color-lightgray;
    }
  }
}

.Position__closeButton {
  .button--transparent();

  display: inline-block;
  margin-right: -28px; // center button
}

