// Colors for the V2 Redesign

@color-primary-button-background: rgba(9, 207, 225, 1); // #09CFE1
@color-primary-button-background-hover: rgba(0, 234, 255, 1); // #00EAFF
@color-primary-button-background-disabled: rgba(9, 207, 225, 0.3); // #09CFE1

@color-buy-order-button-background: rgba(0, 241, 196, 0.4);
@color-buy-order-button-background-hover: rgba(0, 241, 196, 0.6);
@color-buy-order-button-background-disabled: rgba(0, 241, 196, 0.2);

@color-buy-order-button-border: rgba(0, 241, 196, 1); // #00F1C4
@color-buy-order-button-border-disabled: rgba(0, 241, 196, 0.1);

@color-sell-order-button-background: rgba(255, 125, 94, 0.4);
@color-sell-order-button-background-hover: rgba(255, 125, 94, 0.6);
@color-sell-order-button-background-disabled: rgba(255, 125, 94, 0.2);

@color-sell-order-button-border: rgba(255, 125, 94, 1); // #FF7D5E
@color-sell-order-button-border-disabled: rgba(255, 125, 94, 0.1);

@color-primary-button-text: rgba(20, 14, 31, 1); // #140E1F
@color-order-button-text: rgba(255, 255, 255, 1); // #FFFFFF
@color-order-button-text-disabled: rgba(255, 255, 255, 0.2);
