// Colors for the V2 Redesign

@color-primary-button-background: rgba(9, 207, 225, 1); // #09CFE1
@color-primary-button-background-hover: rgba(0, 234, 255, 1); // #00EAFF
@color-primary-button-background-disabled: rgba(9, 207, 225, 0.3); // #09CFE1

@color-primary-button-text: rgba(20, 14, 31, 1); // #140E1F
