@import (reference) "~assets/styles/shared";

.AccountView {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AccountView__container {
  display: flex;
  flex: 1;
  margin: @size-24 @size-40 @size-40;

  > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: @size-8;

    > div {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-bottom: @size-12;
      max-height: unset;

      &:last-of-type {
        margin-bottom: @size-20;
      }
    }
  }

  > div:first-of-type {
    > div {
      max-height: 50vh;
    }
  }

  > div:nth-of-type(2) {
    height: fit-content;
    margin-bottom: 4.375rem;
  }

  > div:last-of-type {
    margin-bottom: 9.375rem;

    > div:first-of-type {
      max-height: 70vh;
    }
  }

  > div:nth-of-type(2),
  > div:last-of-type {
    > div:last-of-type {
      flex: 0;
      min-height: fit-content;
    }
  }
}

@media @breakpoint-mobile {
  .AccountView__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
