@import (reference) "~assets/styles/shared";

.Container {
  background: @color-tertiary-background;
  border: 1px solid fade(@color-highlight, 50%);
  border-radius: @border-radius-default;
  max-width: 35rem;
  padding: @size-24;
  position: relative;
  width: 100%;

  > h1 {
    .text-12;

    color: @color-secondary-text;
    font-weight: @weight-medium;
    line-height: @size-16;
    margin-bottom: @size-16;
    text-align: left;
    text-transform: uppercase;
  }

  > h2 {
    .text-16;

    color: @color-secondary-text;
    font-weight: @weight-medium;
    margin: @size-8 0 @size-24;
  }

  > h3 {
    .text-12-bold;

    color: @color-secondary-text;
    line-height: @size-16;
    margin: 0 0 @size-14;
  }

  > button:first-of-type {
    position: absolute;
    right: @size-24;
    top: @size-24;

    > svg {
      height: @size-12;
      width: @size-12;

      > path {
        stroke: @color-secondary-text;
      }
    }
  }

  > div:last-of-type {
    display: flex;
    flex-flow: row-reverse nowrap;
    margin-top: @size-16;

    > button {
      margin-left: @size-16;
    }
  }
}

.CondensedContainer {
  .Container;

  max-width: 20rem;
}

.Message {
  .Container;

  > p {
    .text-12-paragraph;

    color: @color-secondary-text;
    margin: 0 0 @size-8 0;
  }
}

.Gas {
  .CondensedContainer;

  > h2 {
    .text-12;

    color: @color-secondary-text;
    margin-top: @size-16;
  }

  > p {
    .mono-10;

    color: @color-secondary-text;
    margin: 0 0 @size-16;
  }
}

.Proceeds {
  .Container;

  > section:first-of-type {
    margin-top: @size-16;
  }

  > section:last-of-type {
    border-bottom: 1px solid @color-primary-background;
    margin-bottom: @size-24;
  }
}

.AlertMessage {
  .text-12;

  color: @color-outcome-four;
  margin: 0 0 @size-8;
}

.ShortBreakdown {
  margin-left: auto;
  max-width: 15rem;
}

.ActionRow {
  align-items: center;
  border-top: 1px solid @color-primary-background;
  display: flex;
  flex-flow: column nowrap;
  padding: @size-16 0 @size-20;

  > section {
    align-content: center;
    display: flex;
    flex: 1 100%;
    flex-flow: row nowrap;
    justify-content: stretch;
    margin-bottom: @size-16;
    width: 100%;

    > div {
      align-items: center;
      flex: 0 0 auto;
      flex-flow: row nowrap;

      > span:last-of-type {
        margin-left: @size-8;
      }
    }

    > h2 {
      .text-16;

      color: @color-secondary-text;
      flex: 1 auto;
      font-weight: @weight-medium;
      line-height: @size-20;
    }
  }

  > button {
    margin-left: auto;
  }
}

.SelectableTable {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;

  > button {
    border: 1px solid @color-primary-background;
    border-top: 0;
    color: @color-secondary-text;
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    width: 100%;

    > span {
      .mono-10;

      border-right: 1px solid @color-primary-background;
      flex: 1;
      padding: @size-4 @size-8;
      text-align: left;
      white-space: nowrap;

      &:last-of-type {
        border-right: 0;
      }
    }

    &:hover {
      color: @color-neutral;
      cursor: pointer;
    }

    &:first-of-type {
      border-top: 1px solid @color-primary-background;

      &:hover {
        color: @color-secondary-text;
        cursor: auto;
      }
    }
  }
}
