@import (reference) "~assets/styles/shared";

.Container {
  background: @color-tertiary-background;
  border: 1px solid fade(@color-highlight, 50%);
  border-radius: @border-radius-default;
  display: flex;
  flex-flow: column nowrap;
  max-width: 35rem;
  min-height: 13.5rem;
  padding: @size-24;
  position: relative;
  width: 100%;

  > h1 {
    .text-12;

    color: @color-secondary-text;
    font-weight: @weight-medium;
    line-height: @size-16;
    margin-bottom: @size-16;
    text-align: left;
    text-transform: uppercase;
  }

  > h2 {
    .text-16;

    color: @color-secondary-text;
    font-weight: @weight-medium;
    margin: @size-8 0 @size-24;
  }

  > h3 {
    .text-12-bold;

    color: @color-secondary-text;
    line-height: @size-16;
    margin: 0 0 @size-14;
  }

  > button:first-of-type {
    position: absolute;
    right: @size-24;
    top: @size-24;

    > svg {
      height: @size-12;
      width: @size-12;

      > path {
        stroke: @color-secondary-text;
      }
    }
  }

  > div:last-of-type {
    display: flex;
    flex-flow: row-reverse nowrap;
    margin-top: 1rem;

    > button {
      margin-left: @size-16;
    }
  }
}

.CondensedContainer {
  .Container;

  max-width: 20rem;
}

.Message {
  .Container;

  > p {
    .text-12-paragraph;

    color: @color-secondary-text;
    margin: 0 0 @size-8 0;
  }
}

.WithdrawForm {
  .Message;

  > p {
    border-bottom: 1px solid @color-primary-background;
    margin-bottom: @size-16;
    padding-bottom: @size-24;
  }

  > div.ReadableAddress {
    align-items: flex-start;
    border-top: 1px solid @color-primary-background;
    margin-bottom: @size-16;
    padding-top: @size-24;

    > span {
      margin: 0;
      padding: 0 @size-8;
    }
  }
}

.GroupedForm {
  border-top: 1px solid @color-primary-background;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: @size-16;
  padding-top: @size-20;

  > div {
    margin-bottom: 1rem;

    > span {
      .text-10;

      align-content: center;
      color: @color-error-text;
      display: flex;
      flex-flow: row nowrap;
      margin-top: @size-8;

      > svg {
        fill: none;
        height: @size-12;
        margin-right: @size-8;
        width: @size-12;

        > circle {
          stroke: @color-error-text;
        }

        > rect,
        > path {
          fill: @color-error-text;
        }
      }
    }

    > label {
      .mono-10;

      color: @color-shadow-text;
      margin-bottom: @size-8;
    }

    > button {
      .mono-12;

      color: @color-secondary-text;
    }

    > input {
      .text-10;

      background: @color-secondary-action;
      border: 1px solid @color-primary-alternate;
      border-radius: @border-radius-default;
      color: @color-secondary-text;
      height: 2rem;
      line-height: 1rem;

      &::placeholder {
        color: @color-shadow-text;
      }
    }
  }

  > div:first-of-type {
    flex: 0 0 47%;
  }

  > div:nth-of-type(2) {
    display: flex;
    flex: 0 0 47%;
    flex-flow: row wrap;

    > label {
      flex: 0 0 80%;
    }

    > button {
      flex: 0;
      margin-left: auto;
    }
  }

  > div:last-of-type {
    flex: 1;
    margin-bottom: @size-24;
  }
}

.Gas {
  .CondensedContainer;

  > h2 {
    .text-12;

    color: @color-secondary-text;
    margin-top: @size-16;
  }

  > p {
    .mono-10;

    color: @color-secondary-text;
    margin: 0 0 @size-16;
  }
}

.Proceeds {
  .Container;

  > section:first-of-type {
    margin-top: @size-16;
  }

  > section:last-of-type {
    border-bottom: 1px solid @color-primary-background;
    margin-bottom: @size-24;
  }
}

.AlertMessage {
  .text-12;

  color: @color-outcome-four;
  margin: 0 0 @size-8;
}

.Breakdown {
  > h4 {
    .mono-10;

    color: @color-secondary-text;
    margin-bottom: @size-10;
    text-transform: uppercase;
  }
}

.ShortBreakdown {
  .Breakdown;

  margin-left: auto;
  max-width: 15rem;
}

.ReverseBreakdown {
  .Breakdown;

  margin-right: auto;
  max-width: 15rem;
}

.ReadableAddress {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1rem;

  > h4 {
    .mono-10;

    color: @color-neutral;
    line-height: @size-14;
    margin-bottom: @size-14;
    text-transform: uppercase;
  }
}

.AccountAddressDisplay {
  .mono-12;

  align-items: center;
  border: 1px solid @color-primary-alternate;
  border-radius: @border-radius-default;
  color: @color-secondary-text;
  display: flex;
  flex-flow: row nowrap;
  height: 2.5rem;
  line-height: @size-16;
  margin: @size-18 0;
  padding-left: @size-12;

  @media @breakpoint-mobile {
    .mono-10;

    height: 2.25rem;
    line-height: @size-14;
    padding-left: @size-8;
  }

  > button {
    align-items: center;
    background: @color-primary-alternate;
    color: @color-neutral;
    display: flex;
    height: 100%;
    line-height: @size-14;
    margin-left: @size-8;
    padding: @size-12 @size-16;
    text-transform: uppercase;

    @media @breakpoint-mobile {
      line-height: @size-10;
      margin-left: @size-4;
      padding: @size-12 @size-14;
    }

    > svg {
      fill: none;
      height: @size-14;
      width: @size-12;

      @media @breakpoint-mobile {
        height: @size-10;
        width: @size-8;
      }

      > path {
        fill: @color-neutral;
      }
    }
  }
}

.ActionRow {
  align-items: center;
  border-top: 1px solid @color-primary-background;
  display: flex;
  flex-flow: column nowrap;
  padding: @size-16 0 @size-20;

  > section {
    align-content: center;
    display: flex;
    flex: 1 100%;
    flex-flow: row nowrap;
    justify-content: stretch;
    margin-bottom: @size-16;
    width: 100%;

    > div {
      align-items: center;
      flex: 0 0 auto;
      flex-flow: row nowrap;

      > span:last-of-type {
        margin-left: @size-8;
      }
    }

    > h2 {
      .text-16;

      color: @color-secondary-text;
      flex: 1 auto;
      font-weight: @weight-medium;
      line-height: @size-20;
    }
  }

  > button {
    height: 44px;
    margin-left: auto;
  }
}

.SelectableTable {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;

  > button {
    border: 1px solid @color-primary-background;
    border-top: 0;
    color: @color-secondary-text;
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    width: 100%;

    > span {
      .mono-10;

      border-right: 1px solid @color-primary-background;
      flex: 1;
      padding: @size-4 @size-8;
      text-align: left;
      white-space: nowrap;

      &:last-of-type {
        border-right: 0;
      }
    }

    &:hover {
      color: @color-neutral;
      cursor: pointer;
    }

    &:first-of-type {
      border-top: 1px solid @color-primary-background;

      &:hover {
        color: @color-secondary-text;
        cursor: auto;
      }
    }
  }
}
